<div id="main" class="tw-w-full tw-grid tw-grid-cols-12" style="padding-top: 48px;">
  <div id="panel" class="tw-col-span-12 md:tw-col-span-6 lg:tw-col-span-3 tw-px-8 tw-pt-12">
    <span class="tw-text-3xl">Log in</span>
    <hr class="tw-h-px tw-my-6 tw-border-gray-600">
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <cds-label>
          <label for="username">Username</label>
          <input id="username" formControlName="username" ibmText type="text">
        </cds-label>
        <cds-label>
          <label for="password">Password</label>
          <input id="password" formControlName="password" ibmText type="password">
        </cds-label>
        <div class="tw-py-2"></div>
        <button cdsButton="primary" class="tw-w-full">Continue<svg class="bx--btn__icon" cdsIcon="arrow--right" size="16"></svg></button>
      </form>
    </div>
    <hr class="tw-h-px tw-my-6 tw-border-gray-600">
    <span class="tw-text-gray-500">Alternative login</span>
    <div class="tw-py-2"></div>
    <a href="/auth/redirect" cdsButton="tertiary" class="tw-w-full">Log in with SSO</a>
  </div>
</div>
