@use "@carbon/styles";
@import "@carbon/charts-angular/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, main {
  height: 100%;
  width: 100%;
}
//
//// fixes tailwinds svg display bug
//svg {
//  display: inline;
//}
//
