<div id="main" class="tw-w-full tw-grid tw-grid-cols-12" style="padding-top: 48px; height: 100%;">
  <div class="tw-col-span-12 tw-col-start-1 tw-col-end-13 tw-flex tw-flex-col tw-justify-center tw-items-center">
    <div class="tw-text-center" style="background-color: var(--cds-layer);">
      <h1 class="tw-text-5xl tw-font-bold tw-text-gray-900 dark:tw-text-gray-200">404</h1>
      <h2 class="tw-text-2xl tw-font-bold tw-text-gray-900 dark:tw-text-gray-200">Page not found</h2>
      <p class="tw-text-gray-600 dark:tw-text-gray-400">The page you are looking for does not exist.</p>
    </div>
  </div>
</div>
