<div class="tw-pt-12 tw-flex tw-flex-col">
  <cds-tile cdsLayer class="tw-pb-32">
    <h1 class="tw-text-2xl">Dashboard</h1>
    <p>
    </p>
  </cds-tile>
  <cds-tile [cdsLayer]="0">
    <div cdsGrid [useCssGrid]="true" [fullWidth]="true" class="tw-gap-y-8">
      <cds-tile cdsLayer cdsCol [columnNumbers]="{sm: 4, md: 2, lg: 4}">
        <ibm-gauge-chart [data]="unassignedAssetsData" [options]="unassignedAssetsOptions" #unassignedChart></ibm-gauge-chart>
      </cds-tile>
      <cds-tile class="tw-p-0" cdsLayer cdsCol [columnNumbers]="{sm: 4, md: 6, lg: 12}">
        <cds-table-container>
          <cds-table-header>
            <h4 cdsTableHeaderTitle>Upcoming Changes</h4>
            <p cdsTableHeaderDescription>Approved changes that are coming up.</p>
          </cds-table-header>
          <cds-table
            title="'Upcoming Changes'"
            [model]="upcomingChangesModel"
            [showSelectionColumn]="false"
          >No upcoming changes</cds-table>
        </cds-table-container>
      </cds-tile>
      <cds-tile cdsLayer cdsCol [columnNumbers]="{sm: 4, md: 4, lg: 8}">
        <cds-table-container>
          <cds-table-header>
            <h4 cdsTableHeaderTitle>Active Incidents</h4>
          </cds-table-header>
          <cds-table
            title="'Upcoming Changes'"
            [model]="upcomingChangesModel"
            [showSelectionColumn]="false"
          >No upcoming changes</cds-table>
        </cds-table-container>
      </cds-tile>
      <cds-tile cdsLayer cdsCol [columnNumbers]="{sm: 4, md: 4, lg: 8}">
        <cds-table-container>
          <cds-table-header>
            <h4 cdsTableHeaderTitle>Upcoming Changes</h4>
            <p cdsTableHeaderDescription>Approved changes that are coming up.</p>
          </cds-table-header>
          <cds-table
            title="'Upcoming Changes'"
            [model]="upcomingChangesModel"
            [showSelectionColumn]="false"
          >No upcoming changes</cds-table>
        </cds-table-container>
      </cds-tile>
      <cds-tile cdsLayer cdsCol [columnNumbers]="{sm: 4, md: 8, lg: 16}">
        <cds-table-container>
          <cds-table-header>
            <h4 cdsTableHeaderTitle>Upcoming Changes</h4>
            <p cdsTableHeaderDescription>Approved changes that are coming up.</p>
          </cds-table-header>
          <cds-table
            title="'Upcoming Changes'"
            [model]="upcomingChangesModel"
            [showSelectionColumn]="false"
          >No upcoming changes</cds-table>
        </cds-table-container>
      </cds-tile>
      <cds-tile cdsLayer cdsCol [columnNumbers]="{sm: 4, md: 8, lg: 16}">
        <cds-table-container>
          <cds-table-header>
            <h4 cdsTableHeaderTitle>Upcoming Changes</h4>
            <p cdsTableHeaderDescription>Approved changes that are coming up.</p>
          </cds-table-header>
          <cds-table
            title="'Upcoming Changes'"
            [model]="upcomingChangesModel"
            [showSelectionColumn]="false"
          >No upcoming changes</cds-table>
        </cds-table-container>
      </cds-tile>
    </div>
  </cds-tile>
</div>
