<div [cdsTheme]="theme().themeCarbon">
<cds-header name="StageLeft" [brand]="brandTemplate" >
  <cds-hamburger [active]="active" (selected)="active = !active"></cds-hamburger>
  <cds-header-navigation [navigationItems]="headerItems"></cds-header-navigation>
  <cds-header-global>
    <div class="tw-pr-1">
      <cds-toggle onText="dark" offText="light" size="sm" (checkedChange)="toggleTheme()" [checked]="theme().theme == 'dark'">Toggle</cds-toggle>
    </div>
    <ng-container *ngIf="!showInternalRoutes">
      <cds-header-action #help (selected)="helpPanelExpanded = !helpPanelExpanded" title="help">
        <svg cdsIcon="help" size="20"></svg>
      </cds-header-action>
      <cds-header-action #notification (selected)="notificationPanelExpanded = !notificationPanelExpanded" title="notifications">
        <svg cdsIcon="notification" size="20"></svg>
      </cds-header-action>
      <cds-header-action #profile (selected)="profilePanelExpanded = !profilePanelExpanded" title="user">
        <svg cdsIcon="user" size="20"></svg>
      </cds-header-action>
    </ng-container>
    <cds-header-action #switcher title="switcher">
      <svg cdsIcon="switcher" size="20"></svg>
    </cds-header-action>
  </cds-header-global>
</cds-header>
<cds-sidenav [navigationItems]="headerItems" [expanded]="active" [hidden]="!active" style="inset-block-start: 3rem;">
  <cds-sidenav-item routerLink="/dashboard" routerLinkActive #rlaDashboard="routerLinkActive" [active]="rlaDashboard.isActive"><svg cdsIcon="dashboard" size="16"></svg>Home</cds-sidenav-item>
  <ng-container *ngIf="!showInternalRoutes">
    <cds-sidenav-item routerLink="/cmdb/services" routerLinkActive #rlaServices="routerLinkActive" [active]="rlaServices.isActive"><svg cdsIcon="container-software" size="16"></svg>Services</cds-sidenav-item>
    <cds-sidenav-item routerLink="/cmdb/changes" routerLinkActive #rlaChanges="routerLinkActive" [active]="rlaChanges.isActive"><svg cdsIcon="sprout" size="16"></svg>Change Requests</cds-sidenav-item>
    <cds-sidenav-item routerLink="/cmdb/assets" routerLinkActive #rlaAssets="routerLinkActive" [active]="rlaAssets.isActive"><svg cdsIcon="chip" size="16"></svg>Assets</cds-sidenav-item>
    <cds-sidenav-item routerLink="/incidents" routerLinkActive #rlaIncidents="routerLinkActive" [active]="rlaIncidents.isActive"><svg cdsIcon="warning--hex" size="16"></svg>Incidents</cds-sidenav-item>
    <cds-sidenav-item routerLink="/campaigns" routerLinkActive #rlaCampaigns="routerLinkActive" [active]="rlaCampaigns.isActive"><svg cdsIcon="in-progress" size="16"></svg>Campaigns</cds-sidenav-item>
    <cds-sidenav-item routerLink="/scorecards" routerLinkActive #rlaScorecards="routerLinkActive" [active]="rlaScorecards.isActive"><svg cdsIcon="checkmark--outline" size="16"></svg>Scorecards</cds-sidenav-item>
    <cds-sidenav-item routerLink="/settings" routerLinkActive #rlaSettings="routerLinkActive" [active]="rlaSettings.isActive"><svg cdsIcon="settings" size="16"></svg>Settings</cds-sidenav-item>
  </ng-container>
</cds-sidenav>
<cds-panel [expanded]="switcher.active">
  <ibm-switcher-list>
    <ibm-switcher-list-item [active]="true">Stage Left</ibm-switcher-list-item>
  </ibm-switcher-list>
</cds-panel>
<cds-panel #helpPanel [expanded]="helpPanelExpanded">
</cds-panel>
<cds-panel #profilePanel [expanded]="profilePanelExpanded">
  <div class="tw-flex tw-justify-between"><span>{{user?.username}}</span><svg cdsIcon="user" size="32"></svg></div>
  <ul>
    <li><a href="#" ibmLink>Profile and Settings</a></li>
    <li><a href="#" ibmLink>Access Keys</a></li>
    <li><a href="#" ibmLink>Feedback</a></li>
  </ul>
  <button cdsButton="secondary" class="tw-w-full" (click)="logout()">Logout</button>
</cds-panel>
<cds-panel #notificationPanel [expanded]="notificationPanelExpanded">
</cds-panel>

<ng-template #brandTemplate>
  <a class="cds--header__name" href="javascript:void(0)">
    <span class="cds--header__name--title">Stage Left</span>
  </a>
</ng-template>
</div>
