<div class="tw-pt-12 tw-flex tw-flex-col">
  <cds-tile>
    <cds-breadcrumb [noTrailingSlash]="false">
      <cds-breadcrumb-item href="#1">Services</cds-breadcrumb-item>
    </cds-breadcrumb>
  </cds-tile>
  <cds-tile>
    <div class="tw-p-4">
      <h2 class="tw-text-2xl">My Services</h2>
      <br>
      <cds-loading></cds-loading>
    </div>
  </cds-tile>
  <cds-tile>
    <app-service-paged-list></app-service-paged-list>
  </cds-tile>
</div>
