<app-header></app-header>
<main class="tw-p-0" [class.tw-dark]="theme().theme == 'dark'" [cdsTheme]="theme().themeCarbon" style="background-color: var(--cds-layer);">
  <router-outlet></router-outlet>
</main>
