<cds-table-container>
  <cds-table-header>
    <h2 class="tw-text-2xl">All Services</h2>
    <p></p>
  </cds-table-header>
  <cds-table-toolbar
    [model]="model"
  >
    <cds-table-toolbar-content>
      <cds-table-toolbar-search
        ngDefaultControl
        [expandable]="false"
      ></cds-table-toolbar-search>
      <button
        cdsButton="ghost"
        class="toolbar-action"
        [cdsOverflowMenu]="filters"
        placement="bottom"
        [flip]="true"
        [offset]="{ x: 3, y: 0 }">
        <svg cdsIcon="filter" size="16" class="cds--toolbar-action__icon"></svg>
      </button>
      <cds-overflow-menu
        triggerClass="cds--toolbar-action"
        placement="bottom"
      >
        <cds-overflow-menu-option>refresh</cds-overflow-menu-option>
      </cds-overflow-menu>
      <button
        cdsButton="primary"
        size="sm"
      >
        Add
        <svg cdsIcon="add" class="cds--btn__icon"></svg>
      </button>
    </cds-table-toolbar-content>
  </cds-table-toolbar>
  <cds-table
    [sortable]="false"
    [skeleton]="status() == 'loading'"
    [showSelectionColumn]="false"
    [model]="model"
    [stickyHeader]="false"
    [striped]="false"
  >
  </cds-table>
  <cds-pagination [model]="model" [itemsPerPageOptions]="pageLengths" (selectPage)="selectPage($event)"></cds-pagination>
</cds-table-container>
<ng-template #filters>
  <div style="padding: 0 1rem;" (click)="$event.stopPropagation();">
    <div style="padding-top: 0.5rem;">Filters</div>
    <cds-checkbox
      [checked]="showActive"
      (checkedChange)="setShowActive($event)"
    >
      Active
    </cds-checkbox>
    <cds-checkbox
      [checked]="showArchived"
      (checkedChange)="setShowArchived($event)"
    >
      Archived
    </cds-checkbox>
  </div>
</ng-template>
<ng-template #colTypeTemplate let-data="data">
  <ng-container [ngSwitch]="data">
    <span *ngSwitchCase="'Business'" class="tw-flex tw-gap-1"><svg class="service-type-icon" cdsIcon="industry" size="16"></svg> Business</span>
    <span *ngSwitchCase="'Application'" class="tw-flex tw-gap-1"><svg class="service-type-icon" cdsIcon="application" size="16"></svg> Application</span>
    <span *ngSwitchCase="'Technical'" class="tw-flex tw-gap-1"><svg class="service-type-icon" cdsIcon="infrastructure--classic" size="16"></svg>Technical</span>
    <span *ngSwitchDefault>{{data}}</span>
  </ng-container>
</ng-template>

<ng-template #colLifeCycleTemplate let-data="data">
  <ng-container [ngSwitch]="data.stage">
    <span *ngSwitchCase="'Development'" class="tw-flex tw-gap-1 tw-text-right tw-text-blue-800 dark:tw-text-blue-300">
      <svg class="tw-fill-blue-800 dark:tw-fill-blue-300" cdsIcon="pending" size="16"></svg>{{data.status}}
    </span>
    <span *ngSwitchCase="'Operational'" class="tw-flex tw-gap-1 tw-text-green-800 dark:tw-text-green-300">
      <svg class="tw-fill-green-800 dark:tw-fill-green-300" cdsIcon="checkmark--outline" size="16"></svg>{{data.status}}
    </span>
    <span *ngSwitchCase="'Retired'" class="tw-flex tw-gap-1 tw-text-right tw-text-orange-800 dark:tw-text-orange-300">
      <svg class="tw-fill-orange-800 dark:tw-fill-orange-300" cdsIcon="undefined" size="16"></svg>{{data.status}}
    </span>
    <span *ngSwitchDefault>{{data.status}}</span>
  </ng-container>
</ng-template>
